@import './themes.scss';

.navLinks {
  font-family: $ember-font;
  color: white;
}
#mainNav {
  font-family: $ember-font;
}

#react-autowhatever-1 {
  font-family: $ember-font;
}

#suggestionHighlighted {
  font-family: $ember-bold;
}


.mapIcon {
  position: relative;
  float: left;
  margin-left:auto; 
  margin-right:0;
  margin-top: 10px
}

#deliver-top {
  font-family: $ember-font;
  position: relative;
  float: right;
  margin-left:10px; 
  margin-right:auto;
}

#deliver-bottom {
  font-family: $ember-bold;
  position: relative;
  float: right;
  margin-left:10px; 
  margin-right:auto;
}

#langSelect {
  position: relative;
  float: right;
  margin-left:auto; 
  margin-right:0;
}

#hello {
  float: left;
  font-family: $ember-lite;
  color: $amazon-grey;
  font-size: 10pt;
}

#account {
  float: left;
  font-family: $ember-bold;
  color: white;
  font-size: 12pt;
}

#searchButton {
  background-color: $amazon-yellow;
}